
.container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a, a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  width: 700px;
  margin: auto;
  .header {
    height: 150px;
    background-color: #319e1e;
    position: relative;
    .logo {
      width: 100px;
      position: absolute;
      top: 50%;
      height: 80px;
      margin-top: -40px;
      margin-left: 40px;
      border: 1px solid black;
    }
  }
  .content {
    height: 540px;
    display: table;
    .menu {
      padding: 30px 0 0 0;
      background-color: #dfd7d9;
      width: 175px;
      display: table-cell;
      ul {
        margin-left: 25px;
        a, a:visited {
          color: blue;
        }

      }
    }
    .article {
      padding-top: 20px;
      padding-left: 25px;
      display: table-cell;
      color: grey;
      // Браузер ставит ему стандатный margin из-за этого, есть промежуток межну .content и .header
      h1 {
        margin: 0;
      }
    }
  }
  .footer {
    background: linear-gradient(to top, #9c9c99, #dcdedc);
    height: calc(80px - 20px);
    padding-top: 20px;

    text-align: center;

    li {
      display: inline-block;
      padding: 5px;
    }
  }
}